@model List<MySecondHand.Web2.ViewModels.ProductItemViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("SearchProducts", "Home"))
{
    <br />
    @Html.TextBox("searchKey");
    <input type="submit" name="submit" value="Search" />

    <div class="checkbox">
        <label><input type="checkbox" checked="checked" value="0" disabled>Wallapop</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked="checked" value="1" disabled>Mil Anuncios</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" checked="checked" value="2" disabled>Vibbo</label>
    </div>
    <div class="form-group">
        <label for="sel1">Provincias:</label>
        <select class="form-control" id="provincias" disabled>
            <option selected="selected">Todas</option>
            <option>BURGOS</option>
            <option>SORIA</option>
            <option>SEGOVIA</option>
        </select>
    </div>
}
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div style="border:1px solid;" class="col-sm-4">
            <div>@item.ItemSource.ToString()</div>
            <div>
                <a href=@item.ItemLink target="_blank">@item.ItemName</a>
            </div>
            <div>@item.ItemValue.ToString()</div>
            <img src="@item.ItemImage" width="200" height="120" />
        </div>
    }
</div>